## Objective
* The objective of this exercise is to explore and visualize the Traffic Index dataset to gain insights and understand the patterns in the data.

##Dataset Description

| Column Name | Description | Data Type |
| :---------------- | :------: | ----: |
|   City  |   Name of the city	   | Object |
| Datetime           |   Date and time of the data entry	   | Object |
|  TrafficIndexLive    |  Real-time traffic index	   | Int |
|  Jamscount |  Number of traffic jams	   | Int |
|   JamsDelay  |   Total delay caused by traffic jams (in minutes)	   | Float |
|JamsLength           |   Total length of traffic jams (in kilometers)	   | Float |
|  TrafficIndexWeekAgo    |  Traffic index one week ago	   | Int |
|  TravelTimeHistoric |  Historical average travel time (in minutes)	   | Float |
|   TravelTimeLive  |   Real-time travel time (in minutes)	   | Float |

# Tasks

## 1. Exploratory Data Analysis (EDA)

### Perform summary statistics on the dataset.

In [17]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
df1 = pd.read_csv("/Users/najla/Desktop/week1/Task1/Task (1) Dataset.csv")
df2 = pd.read_csv("/Users/najla/Desktop/week1/Task2/Task (2) Dataset.csv")

### Identify and analyze patterns in the data.

In [21]:
column_to_merge = df1[['Weather_conditions']]

In [23]:
df2 = pd.concat([df2, column_to_merge], axis=1)

In [25]:
df2.head()

,City,Datetime,TrafficIndexLive,JamsCount,JamsDelay,JamsLength,TrafficIndexWeekAgo,TravelTimeHistoric,TravelTimeLive,Weather_conditions
0,Abudhabi,2023-07-07 08:01:30,6,4,15.6,0.7,13,59.611918,54.803617,Normal
1,Abudhabi,2023-07-07 09:01:30,7,7,20.5,1.7,8,60.221387,56.118629,Normal
2,Abudhabi,2023-07-07 10:46:30,7,8,25.0,2.8,6,59.161978,55.518834,Normal
3,Abudhabi,2023-07-07 11:16:30,8,11,30.6,5.5,6,59.738138,56.413917,Normal
4,Abudhabi,2023-07-07 12:01:30,8,20,62.1,6.5,5,58.958314,56.059246,Normal

### Visualize the distribution of key variables (e.g., Traffic_Index, Date).

In [35]:
print("Summary Statistics:")
df2.describe(include='all')

Summary Statistics:

,City,Datetime,TrafficIndexLive,JamsCount,JamsDelay,JamsLength,TrafficIndexWeekAgo,TravelTimeHistoric,TravelTimeLive,Weather_conditions
count,66639,66639,66639.000000,66639.000000,66639.000000,66639.000000,66639.000000,62772.000000,62772.000000,12316
unique,11,22242,NaN,NaN,NaN,NaN,NaN,NaN,NaN,9
top,Doha,2023-10-07 01:01:30,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Normal
freq,8692,11,NaN,NaN,NaN,NaN,NaN,NaN,NaN,10063
mean,NaN,NaN,14.043113,74.278531,288.353877,49.316135,13.981737,70.706601,70.048451,NaN
std,NaN,NaN,13.488906,107.452022,470.013224,85.352525,13.454922,10.588384,11.966725,NaN
min,NaN,NaN,0.000000,0.000000,0.000000,0.000000,0.000000,49.381346,46.723235,NaN
25%,NaN,NaN,3.000000,9.000000,27.700000,3.000000,3.000000,63.142591,60.712805,NaN
50%,NaN,NaN,10.000000,29.000000,95.700000,12.200000,10.000000,68.894790,68.247303,NaN
75%,NaN,NaN,21.000000,95.000000,336.600000,53.500000,21.000000,76.250975,77.043739,NaN
max,NaN,NaN,138.000000,1359.000000,9989.400000,1173.900000,138.000000,120.140593,134.484139,NaN

In [37]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

### Explore relationships between variables (e.g., Traffic_Index vs. Weather_Condition).

## 2. Data Visualization

* Ensure the visualizations are clear and informative.

### Create visualizations to illustrate the findings from the EDA.

### Use appropriate plots such as histograms, bar charts, pie charts, scatter plots, and heatmaps.

## 3. Insights and Conclusions

* <h3>Summarize the key insights gained from the data analysis.<h3/>
* <h3>Draw conclusions based on the patterns observed in the data.<h3/>